#navbar_plugin_I2CCaseController > a > i.on {
	color: #00FF00 !important;
}

#navbar_plugin_I2CCaseController > a > i.on_timeout {
	color: #CCCC00 !important;
}

#navbar_plugin_I2CCaseController > a > i.off {
	color: #FF0000 !important;
}

#navbar_plugin_I2CCaseController > a > i.unknown {
	color: #808080 !important;
}
