<li>
  <a id="machine button" class="pull right">
    <i class="icon-print"></i>
  </a>
</li>
<li>
  <a id="fan button" class="pull right">
    <i class="icon-fighter-jet"></i>
  </a>
</li>
