<label data-bind="text: caseTemp()"></label>
<label data-bind="text: ETemp()"></label>
<label data-bind="text: XTemp()"></label>
<label data-bind="text: YTemp()"></label>
<label data-bind="text: Z_L_Temp()"></label>
<label data-bind="text: Z_R_Temp()"></label>