<label data-bind="text: auxtemp0()"></label>
<label data-bind="text: auxtemp1()"></label>
<label data-bind="text: auxtemp2()"></label>
<label data-bind="text: auxtemp3()"></label>
<label data-bind="text: auxtemp4()"></label>
<label data-bind="text: auxtemp5()"></label>
<label data-bind="text: auxtemp6()"></label>
<label data-bind="text: auxtemp7()"></label>