<form class="form-horizontal">
    <div class="control-group">
        <h4>{{ _('I2C Settings') }}</h4>
        <label class="control-label">{{ _('PWM Address') }}</label>
        <div class="controls">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.pwm_addr">
        </div>
        <label class="control-label">{{ _('Servo Address') }}</label>
        <div class="controls">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.servo_addr">
        </div>
        <label class="control-label">{{ _('GPIO Address') }}</label>
        <div class="controls">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.gpio_addr">
        </div>
        <label class="control-label">{{ _('Thermistors Addr') }}</label>
        <div class="controls">
            <input type="text" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.thermistors_addr">
        </div>
        <h4>{{ _('GPIO Pins') }}</h4>
        <label class="control-label">{{ _('Machine Power') }}</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.pin_gpio_machine_power">
        </div>
        <label class="control-label">{{ _('Fan Power') }}</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.pin_gpio_fan_power">
        </div>
        <label class="control-label">{{ _('Door Switch') }}</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.pin_gpio_door_switch">
        </div>
        <label class="control-label">{{ _('Side Button') }}</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.pin_gpio_side_button">
        </div>
        <h4>{{ _('PWM Pins') }}</h4>
        <label class="control-label">{{ _('Case Light') }}</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.pin_pwm_light">
        </div>
        <label class="control-label">{{ _('Vent Fan') }}</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.pin_pwm_fan">
        </div>

        <h4>{{ _('Servo Pins') }}</h4>
        <label class="control-label">{{ _('Valve Servo Pin') }}</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.pin_servo_vent_valve">
        </div>

        <h4>{{ _('Parameters') }}</h4>
        <label class="control-label">{{ _('Light Brightness') }}</label>
        <div class="controls">
            <input type="range" min="0" max="1" step="any" class="slider" id="lightBrightnessSlider" data-bind="value: settings.plugins.I2CCaseController.param_case_light_brightness">
        </div>

        <label class="control-label">{{ _('Vent Fan Power') }}</label>
        <div class="controls">
            <input type="range" min="0" max="1" step="any" class="slider" id="fanPowerSlider" data-bind="value: settings.plugins.I2CCaseController.param_fan_power">
        </div>

        <label class="control-label">{{ _('Light Timeout') }}</label>
        <div class="controls">
            <input type="number" min="0" step="1" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.param_case_light_timeout">
        </div>

        <label class="control-label">{{ _('Light Ramp Time') }}</label>
        <div class="controls">
            <input type="number" min="0" step="any" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.param_case_light_ramp_time">
        </div>

        <label class="control-label">{{ _('Valve Open Angle') }}</label>
        <div class="controls">
            <input type="number" min="0" max="180" step="any" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.param_vent_valve_open">
        </div>

        <label class="control-label">{{ _('Valve Close Angle') }}</label>
        <div class="controls">
            <input type="number" min="0" max="180" step="any" class="input-mini" data-bind="value: settings.plugins.I2CCaseController.param_vent_valve_closed">
        </div>
    </div>
</form>
