<a id="navbar_machine_button" class="pull right" data-bind="click: machinePowerCb" style="float: left;">
  <i class="icon-print" data-bind="css: machinePowerState()"></i>
</a>
<a id="navbar_fan_button" class="pull right" data-bind="click: fanPowerCb" style="float: left;">
  <i class="icon-fighter-jet" data-bind="css: fanPowerState()"></i>
</a>
<a id="navbar_caselight_button" class="pull right" data-bind="click: caseLightCb" style="float: left;">
  <i class="icon-lightbulb" data-bind="css: caseLightState()"></i>
</a>
<a id="navbar_machinelight_button" class="pull right" data-bind="click: machineLightCb" style="float: left;">
  <i class="icon-lightbulb" data-bind="css: machineLightState()"></i>
</a>
